table {
  border-collapse: collapse;
  font-family: Georgia, Times, serif;

}

th {
  background:white;
  vertical-align: top;
  width:14.2%;

}

td {
  height: 50px;
  width: 100px;
  padding: 10px;
  vertical-align: top;
  background:white;
}

.divcalendar {

    float:left;
}


#calendaroverallcontrols {
  text-align: center;

}

#calendarmonthcontrols {
  display: inline-block;
  width:100%;
  
}

#calendarmonthcontrols > div, #calendarmonthcontrols > a {
    display: inline-block;
}    

#btnPrevYr {
  text-decoration: none;
  font-size: 35px;
  width:50px;
  vertical-align: middle;   

}

#btnPrev {
  text-decoration: none;
  font-size: 35px;
  width:50px;
  margin-left: 20px;
  vertical-align: middle;
   
}    
/*
.yearspan {
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
    float:right;
}

.monthspan {
  font-size: 55px;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
    float:right;
}
*/
#monthandyearspan {
  color:#3C9ADF;
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
 

}    

#monthandyear {
  vertical-align: middle;
  width: 200px;
}

#btnNext {
  text-decoration: none;
  font-size: 35px;
  width:50px;
  margin-right: 20px;
  vertical-align: middle;
    
}

#btnNextYr {
  text-decoration: none;
  font-size: 35px;
  width:50px;
  vertical-align: middle;
   
}        

#divcalendartable {
  clear: both;
 
}

.daysheader {
  background: white;
  height: auto;
  text-align: center;
  color:#3C9ADF;
}

#prevmonthdates {
  background-color: #E0E0E0;
 

}

#nextmonthdates {
  background-color: #E0E0E0;
  
}

#currentmonthdates {
  background-color: #FFFFFF;
 
}

   
/*
.swim {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  text-align: center;
  background: #445511;
  color: blue;
  margin-bottom: 5px;
  padding: 5px;
}
*/
.chrono {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  text-align: center;
  background: #778899;
  color: #F5F5F5;
  margin-bottom: 5px;
  padding: 5px;
}
