@charset "utf-8";
/* CSS Document */
body{
	background:#55B1EC;	/*svetle modra*/
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	
	}
#c_box{
	width:988px;
	height:auto;
	margin-left:100px; /* pro testovani*/
	background:#FFFFFF;
	}

/*SWITCH MONTH YEAR WEEK*/	
#c_month_year_box{
	width:988px;
	height:30px;
	background:#FFFFFF;
	border-bottom:1px #C3C3C3 solid;
	text-align:center;
	margin:auto;
	padding:5px 0 0 0;	
	float:left;
	
	}	
	
#c_month_year{
	width:100px;
	height:20px;
	float:left;
	
	}	
	
#c_left_click_week{
	margin-left:210px;
	width:30px;
	height:30px;
	float:left;
	margin-right:10px;
	
	}	
	
#c_right_click_week{
	width:30px;
	height:30px;
	float:left;
	margin-left:10px;
	}
	
	
	
/*DAYS*/	
.c_day_title{
	width:140px;
	height:30px;
	float:left;
	background:#D9D9D9;
	text-align:center;
	padding:10px 0 5px 0;
	font-size:20px;
	transition:0.1s linear;
	color:#000000;
	border-bottom:1px #C3C3C3 silid;
	border-right:1px #C3C3C3 solid;

	
	}
.c_day_week_title{
	width:140.5px;
	height:30px;
	float:left;
	background:#D9D9D9;
	text-align:center;
	padding:10px 0 5px 0;
	font-size:20px;
	transition:0.1s linear;
	color:#000000;
	border-bottom:1px #C3C3C3 solid;
	border-right:1px #C3C3C3 solid;

	
	}

#c_days_box{
	width:988px;
	height:auto;
	float:left;
	background:#C3C3C3;
	}

.c_day{
	width:140px;
	height:40px;
	float:left;
	background:#FFFFFF;
	text-align:center;
	padding:20px 0 0 0;
	font-size:16px;
	transition:0.1s linear;
	color:#000000;
	border-right:1px #C3C3C3 solid;

	
	}
.c_day:hover{
	width:140px;
	height:40px;
	float:left;
	background:#3C9ADF;
	text-align:center;
	padding:20px 0 0 0;
	font-size:16px;
	transition:0.1s linear;
	color:#FFFFFF;
	
	}
.c_day:active{	/*Choosed day*/
	width:140px;
	height:40px;
	float:left;
	background:#3C9ADF;
	text-align:center;
	padding:20px 0 0 0;
	font-size:16px;
	transition:0.1s linear;
	color:#000000;
	}

	
.c_day_weekend{	/* Weekend block */
	width:140.5px;
	height:40px;
	float:left;
	background:#CDCDCD;
	text-align:center;
	padding:20px 0 0 0;
	font-size:16px;
	color:#000000;
	border-right:1px #C3C3C3 solid;
	border-bottom:1px #C3C3C3 solid;
	}	
	
	.c_day_week_avaible{
	width:140.5px;
	height:40px;
	float:left;
	background:#FFFFFF;
	text-align:center;
	padding:20px 0 0 0;
	font-size:16px;
	transition:0.1s linear;
	color:#000000;
	border-right:1px #C3C3C3 solid;

	
	}
.c_day_week_avaible:hover{
	width:140.5px;
	height:40px;
	float:left;
	background:#3C9ADF;
	text-align:center;
	padding:20px 0 0 0;
	font-size:16px;
	transition:0.1s linear;
	color:#FFFFFF;
	
	}
	
	
 .c_out_month{	/*day out of month*/
	width:140px;
	height:40px;
	float:left;
	background:#EBEBEB;
	text-align:center;
	padding:20px 0 0 0;
	font-size:16px;
	color:#535353;
	border-right:1px #C3C3C3 solid;
	}	
	
/* SWITCH PART OF DAY*/	
	
#c_day_part_box{
	width:988px;
	height:30px;
	background:#FFFFFF;
	border-bottom:1px #C3C3C3 solid;

	text-align:center;
	margin:auto;
	padding:5px 0 0 0;	
	float:left;
	
	}	
	
#c_day_part{
	width:150px;
	min-width:50px;
	height:30px;
	float:left;
	}	
	#c_left_click{
	margin-left:380px;
	width:30px;
	height:30px;
	float:left;
	margin-right:10px;
	
	}	
	
#c_right_click{
	width:30px;
	height:30px;
	float:left;
	margin-left:10px;
	}
/*INFO TIME*/
#c_info_time_box{
	width:988px;
	height:auto;
	min-height:500px;
	background:#FFFFFF;
	float:left;
	border-top:1px #C3C3C3 solid;
	}


#c_time_box{
	width:100%;
	height:auto;
	
	float:left;
	text-align:center;
	background:#7B7B7B;
	
	}	
	
/* HOURS */	
.c_time_hour{
	width:140px;
	height:25px;
	float:left;
	background:#7B7B7B;
	color:#FFFFFF;
	padding:10px 0 5px 0;
	border-right:1px #C3C3C3 solid;
	}
.c_time_hour:first-child{
	border-left:1px #C3C3C3 solid;
	}
	
	

/* MINUTE BOXES */	

/* MINUTE TITLE */
#c_title_pos{
	width:988px;
	height:50px;
	}


.c_time_minute_title{
	width:22.5px;
	height:auto;
	float:left;
	background:#CCCCCC;
	color:#575757;	
	transition:0.1s linear;
	padding:1px 0 2px 0;
	border-left:1px #B4B4B4 solid;

	}	
.c_time_minute_title:first-child{
	border-left:none;
	
	}
.c_time_minute_title:last-child{
	border-right:none;
	
	}
/* MINUTE BOXES TITTLE*/
.c_minute_box_title:first-child{
	border-left:1px #C3C3C3 solid;
	
	}
.c_minute_box_title{
	width:140px;
	height:15px;
	font-size:10px;
	float:left;
	border-right:1px #C3C3C3 solid;
	}	



/* MINUTE BOX */
.c_minute_box:last-child{
	border-right:1px #C3C3C3 solid;
	
	}
.c_minute_box{
	width:140px;
	height:40px;	
	float:left;	
	border-left:1px #C3C3C3 solid;
	}	

/* MINUTE */	

/* MINUTE  FREE */	
.c_time_minute:first-child{
	border-left:none;
	
	}
.c_time_minute:last-child{
	border-right:none;
	
	}
	

.c_time_minute{
	width:22.5px;
	height:30px;
	float:left;
	background:#43C1FF;
	color:#000000;	
	transition:0.1s linear;
	padding:5px 0 5px 0;
	border-left:1px #B4B4B4 solid;

	}	

	
.c_time_minute:hover{
	width:22.5px;
	height:30px;
	float:left;
	background:#00A5B9;
	color:#000000;	
	transition:0.1s linear;	
	padding:5px 0 5px 0;
	}	

/* MINUTE FULL */
.c_time_minute_full{
	width:22.5px;
	height:30px;
	float:left;
	background:#722121;
	color:#FFFFFF;
	padding:5px 0 5px 0;
	border-left:1px #B4B4B4 solid;
	}
.c_time_minute_full:first-child{
	border-left:none;
	
	}
.c_time_minute_full:last-child{
	border-right:none;
	
	}	
	
/* MINUTE BLOCKED */
.c_time_minute_blocked{
	width:22.5px;
	height:30px;
	float:left;
	background:#000000;
	color:#FFFFFF;
	padding:5px 0 5px 0;
	border-left:1px #B4B4B4 solid;
	}
.c_time_minute_blocked:first-child{
	border-left:none;
	
	}
.c_time_minute_blocked:last-child{
	border-right:none;
	
	}		
	
/* INFO BOX*/	
#c_info_box{
	width:988px;
	height:auto;
	
	min-height:200px;
	float:left;
	
	}	
	
#c_send_box{
	
	}	
	
	