
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<dt>
    Ondruv sandbox
</dt>
<dd>
<a href=@Url.Action("Ondra", "Sanboxes" )>Ondra</a>
</dd>

<dt>
    Jenduv sandbox
</dt>
<dd>
    <a href=@Url.Action( "Jenda","Sanboxes")>Jenda</a>
</dd>

<dt>
    Jirkuv sandbox
</dt>
<dd>
    <a href=@Url.Action("Jirka", "Sanboxes" )>Jirka</a>
</dd>

