@model BasicForm.Models.CalendarProvider

@{
    ViewBag.Title = "Index";
}

﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>MedWeb Kalendář</title>
    <link href="~/Content/css_kalendar_w_v1.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="c_box">
        <div id="c_month_year_box">

            <a href="#"><div id="c_left_click_week"> < </div></a>
            <div id="c_month_year">1. Týden</div>
            <a href="#">
                <div id="c_right_click_week"> > </div></a>
                    <a href="#"><div id="c_left_click_week"> < </div></a>
                    <div id="c_month_year">Prosinec 2015</div>
                    <a href="#"><div id="c_right_click_week"> > </div></a>
           
        </div>

        <div id="c_days_box">
            <!-- Name days-->
            <div class="c_day_title">PO</div>
            <div class="c_day_title">ÚT</div>
            <div class="c_day_title">ST</div>
            <div class="c_day_title">ČT</div>
            <div class="c_day_title">PÁ</div>
            <div class="c_day_week_title">SO</div>
            <div class="c_day_week_title">NE</div>

            <!-- 1. Week -->
            <a href="#"><div class="c_out_month">29</div></a>
            <a href="#"><div class="c_out_month">30</div></a>
            <a href="#"><div class="c_day">1</div></a>
            <a href="#"><div class="c_day">2</div></a>
            <a href="#"><div class="c_day">3</div></a>

            <div class="c_day_weekend">4</div>
            <div class="c_day_weekend">5</div>



        </div>
        <div id="c_day_part_box">

            <a href="#"><div id="c_left_click"> < </div></a>
            <div id="c_day_part">DOPOLEDNE</div>
            <a href="#"><div id="c_right_click"> > </div></a>
        </div>

        <div id="c_info_time_box">
            <div id="c_time_box">

                <!-- Hours title-->
                <div class="c_time_hour">5:00</div>
                <div class="c_time_hour">6:00</div>
                <div class="c_time_hour">7:00</div>
                <div class="c_time_hour">8:00</div>
                <div class="c_time_hour">9:00</div>
                <div class="c_time_hour">10:00</div>
                <div class="c_time_hour">11:00</div>
                <div id="c_title_pos">
                    <!-- Minutes title-->
                    <div class="c_minute_box_title">
                        <div class="c_time_minute_title">00</div>
                        <div class="c_time_minute_title">10</div>
                        <div class="c_time_minute_title">20</div>
                        <div class="c_time_minute_title">30</div>
                        <div class="c_time_minute_title">40</div>
                        <div class="c_time_minute_title">50</div>
                    </div>
                    <div class="c_minute_box_title">
                        <div class="c_time_minute_title">00</div>
                        <div class="c_time_minute_title">10</div>
                        <div class="c_time_minute_title">20</div>
                        <div class="c_time_minute_title">30</div>
                        <div class="c_time_minute_title">40</div>
                        <div class="c_time_minute_title">50</div>
                    </div>
                    <div class="c_minute_box_title">
                        <div class="c_time_minute_title">00</div>
                        <div class="c_time_minute_title">10</div>
                        <div class="c_time_minute_title">20</div>
                        <div class="c_time_minute_title">30</div>
                        <div class="c_time_minute_title">40</div>
                        <div class="c_time_minute_title">50</div>
                    </div>
                    <div class="c_minute_box_title">
                        <div class="c_time_minute_title">00</div>
                        <div class="c_time_minute_title">10</div>
                        <div class="c_time_minute_title">20</div>
                        <div class="c_time_minute_title">30</div>
                        <div class="c_time_minute_title">40</div>
                        <div class="c_time_minute_title">50</div>
                    </div>

                    <div class="c_minute_box_title">
                        <div class="c_time_minute_title">00</div>
                        <div class="c_time_minute_title">10</div>
                        <div class="c_time_minute_title">20</div>
                        <div class="c_time_minute_title">30</div>
                        <div class="c_time_minute_title">40</div>
                        <div class="c_time_minute_title">50</div>
                    </div>
                    <div class="c_minute_box_title">
                        <div class="c_time_minute_title">00</div>
                        <div class="c_time_minute_title">10</div>
                        <div class="c_time_minute_title">20</div>
                        <div class="c_time_minute_title">30</div>
                        <div class="c_time_minute_title">40</div>
                        <div class="c_time_minute_title">50</div>
                    </div>
                    <div class="c_minute_box_title">
                        <div class="c_time_minute_title">00</div>
                        <div class="c_time_minute_title">10</div>
                        <div class="c_time_minute_title">20</div>
                        <div class="c_time_minute_title">30</div>
                        <div class="c_time_minute_title">40</div>
                        <div class="c_time_minute_title">50</div>
                    </div>

                </div>
                <!-- Boxes as 10 min, 6x- 00,10,20,30,40,50 -->
                <div class="c_minute_box">
                    <div class="c_time_minute_blocked"></div>
                    <div class="c_time_minute_blocked"></div>
                    <div class="c_time_minute_blocked"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute"></div>

                </div>
                <div class="c_minute_box">
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>

                </div>
                <div class="c_minute_box">
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>

                </div>
                <div class="c_minute_box">
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>

                </div>
                <div class="c_minute_box">
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>

                </div>
                <div class="c_minute_box">
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute"></div>

                </div>
                <div class="c_minute_box">
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute"></div>
                    <div class="c_time_minute_full"></div>
                    <div class="c_time_minute_blocked"></div>
                    <div class="c_time_minute_blocked"></div>
                    <div class="c_time_minute_blocked"></div>

                </div>


            </div>

            <div id="c_info_box">
                <div id="c_info_box_left" >
                    <input type=checkbox /><a href="#">27.6,8:00-8:20h, Ondra Urbanovsky, Prevazani penisu</a><br />
                    <input type=checkbox /><a href="#">28.6,9:00-9:20h, Pepek Pivna, uprava zvadle vaginy</a><br />
                    <input type=checkbox /><a href="#">15.6,13:10-18:30h, Petr Novak, vymena varlat za vajecniky</a><br />
                    <input type=checkbox /><a href="#">7.10,13:10-13:30h, Jiri Vrbka, akupunktura žaludu</a><br />

                    @{
                        foreach (Order order in Model.orders)
                        {
                            <input type=checkbox /><a href="#">@order.DateAndTime, @order.Customer.Name @order.Customer.Surname, @order.Procedure</a><br />
                        }
                    }

                    <br /><input type="button" value="Smazat" />
                </div>
                <div id="c_info_box_right">
                    Jmeno:
                    Prijmeni:
                    Tel:
                    Rodne ciso:
                    Procedura:
                    Datum:
                    Cas:
                    Popis:


                </div>
            </div>

        </div>
        <div id="c_send_box"></div>
    </div>




</body>
</html>
