@model BasicForm.Models.CalendarProvider

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
SEM PISTE CALENDAR PRO DOKTORA!!!
<div>
    <h4>CalendarProvider</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
