@{
    Layout = null;
}

﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>MedWeb Kalendář</title>
    <link href="css/css_kalendar_w_v1.css" rel="stylesheet" type="text/css">
</head>

<body>
    ID: <input type="text" class="inputs" placeholder="-" /> //needitovatelny<br />
    Jmeno:<input type="text" class="inputs" placeholder="-" /><br />
    Prijmeni:<input type="text" class="inputs" placeholder="-" /><br />
    <br />
    FAKTURACNI UDAJE<br />
    Ulice:<input type="text" class="inputs" placeholder="-" /><br />
    Mesto:<input type="text" class="inputs" placeholder="-" /><br />
    PSC:<input type="text" class="inputs" placeholder="-" /><br />

    ICO:<input type="text" class="inputs" placeholder="-" /><br /><br />

    Zaplaceno do [dd-mm-yyy] <input type="button" value="prodlouzit" />// button resenej pres JS<br />
    <br />
    ORDINACE:<input type="text" class="inputs" placeholder="-" /><br />
    Oteviraci doba:
    PO: od:<select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>do:
    <select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>
    <input type="button" value="+">// vyjede pres JS kalendarik hodin
    <br />UT: od:<select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>do:
    <select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>
    <input type="button" value="+">// vyjede pres JS kalendarik hodin
    <br />ST: od:<select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>do:
    <select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>
    <input type="button" value="+">// vyjede pres JS kalendarik hodin
    <br />CT: od:<select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>do:
    <select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>
    <input type="button" value="+">// vyjede pres JS kalendarik hodin
    <br />PA: od:<select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>do:
    <select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>
    <input type="button" value="+">// vyjede pres JS kalendarik hodin
    <br />SO: od:<select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>do:
    <select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>
    <input type="button" value="+">// vyjede pres JS kalendarik hodin
    <br />NE: od:<select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>do:
    <select class="select" name="Filter">
        <option value='1' class="option_filter">Jiné...</option>

    </select>
    <input type="button" value="+">// vyjede pres JS kalendarik hodin


    <br />   <input type="button" value="Pridat ordinaci"><input type="button" value="Ulozit">
</body>
</html>
