@model BasicForm.Models.CalendarOrder

@{
    ViewBag.Title = "Index";
    
}

<div>Ahoj</div>
<a href=@Url.Action("Index","Order")>Order calendar</a>
<a href=@Url.Action("Index","Provider")>Provider calendar</a>
<a href=@Url.Action("Index","Login")>Login area</a>

