
@{
    ViewBag.Title = "Error";
}

<h2>Error occurs</h2>

@{ 
    if(ViewBag.description != null)
    {
        <div>@Html.Raw(ViewBag.description)</div>
    }else
    {
        <div>Error: Unknown <br/>No details avaliable</div>
    }
}


